.navbar {
    background-color: #4FD6D2;
    alignItems : start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    list-style: none;
    padding : 2%;
    font-family: "Sofia", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

